@import "Lindeman.css";
@import "normalize.css";
@import "ruutu.css";
@import "tyyli.css";
/*  cool blue: */
// $main-color: rgba(60,190,250,0.7);
/* almost andoird: */
// $main-color: rgba(150,220,0,0.7);
/* lime */ 
//$main-color: rgba(100,220,0,0.7);

$main-color: rgba(100,100,100,0.2);
$text-color: rgba(100,100,100,0.9);
$puu-tausta: rgba(255,255,255,1);
$kansio-sisalto-tausta: white;
$polku-rivi: rgba(230,230,230,0.2);
$aktiivinen: rgba(51,181,229,0.8);
$raja-vari: white - 15;



header {
	color:$text-color;
	border-bottom:1px solid $puu-tausta - 200;
/*
		background: -webkit-linear-gradient($puu-tausta,$puu-tausta - 30); 
		background: -o-linear-gradient($puu-tausta,$puu-tausta  - 30); 
		background: -moz-linear-gradient($puu-tausta,$puu-tausta - 30); 
		background: linear-gradient($puu-tausta,$puu-tausta - 90); 
		*/

	}

	a {
		color: $text-color;
	}

	footer {

	}

	.kansio-puu {
	width:100%;
	margin:0 auto;
	ul {
		list-style-type: none;
	}
	a {
		color:$text-color;
	}
	li {
		margin-top:2px;
	}

}


.kansio-otsikko {
	border-bottom:1px solid $puu-tausta - 100;
	min-height:25px;
	padding-left:3px;
	color:$text-color;
	display:none;

}

.kansio-puu-ylimerkki {
	width: 100%;
	height:auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	img{
		margin-top:3px;
		padding-right:5px;
		height:100%;
		width:auto;
	}
}

/*
.kansio-puu-ylimerkki:before {
	content:"\203A";
	padding-right:3px;
	color:$main-color;
	cursor:pointer;
}
*/

.kansio-puu-ylimerkki:hover{
	@extend .aktiivinen;

}


.kansio-puu-merkki:hover{
	@extend .aktiivinen;
}

.kansio-puu-alimerkki {
	//@extend .kansio-puu-merkki;
	width: 100%;
	height:auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left:10px;

	img {
		margin-top:3px;
		padding-right:5px;
		vertical-align:top;
		height:100%;
		width:auto;
	}
}

.kansio-puu-alimerkki:before {
	content:none;
}

.kansio-sisalto {
	padding-left:3px;
	min-height:100%;
	background-color:$kansio-sisalto-tausta;

	ul {
		list-style-type: none;
		padding:15px 5px 5px 5px;
	}
}




.kansio-sisalto-merkki:before {
	//content:"\203A";
	padding-right:3px;
	color:$main-color;
	cursor:pointer;
}


.kansio-kontti {
	display:none;
	


}

.aktiivinen {
	background-color: $aktiivinen;
	color:white;


	}


	html {
		height:100%;
	}

	body {
		//background-color: white - 5;
		font-family: 'Open Sans', 'sans-serif';
		height:100%;
		color:$text-color;

	}


	/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
	::selection {
		background: $main-color;
		/* Safari */
		color: $text-color;
	}

	::-moz-selection {
		background: $main-color;
		/* Firefox */
		color: $text-color;
	}




	.kolumni-2-tablet{
		padding:0 0 0 3px;
		//border-right:1px solid $puu-tausta - 200;
	
	}

	.kolumni-10-tablet {
		padding:0;
		height:100%;
		border-left:1px solid $raja-vari;
		margin:0 auto;
	}




	.polku-rivi {
		font-size:105%;
		width:100%;
		height:25px;
		//background-color:$polku-rivi;
		//box-shadow: inset 1px 1px 1px $puu-tausta - 50;
		border-top:1px solid $raja-vari;
		color:$text-color;
		padding-left:5px;
		margin-bottom:10px;
		//border-radius:3px 3px 3px 3px;
		//margin-left:10%;

	}



	.polku-kategoria {
		float:left;
		padding-right:5px;
		padding-left:5px;
		color: $text-color;
	}

	.polku-kategoria:after {
		content:"/";
		color: $main-color;

	}



	.polku-alikategoria {
		float:left;
		padding-right:5px;
	}
	.polku-alikategoria:after {
		content:"/";
		color: $main-color;
		padding-left:5px;

	}



	.polku-osa {
		float:left;
		color: $text-color;
	}

	.polku-osa:after {
		content:"/";
		color: $main-color;
		padding: 0 5px 0 5px;

	}


	.alikansio-kategoria {
		display:none;
	}

	.alikansio-otsikko {
		@extend .alikansio-kategoria;
	}

	.teksti-otsikko {
		@extend .polku-rivi;

		//padding-left:5px;
		color:$main-color + 180;
		border-bottom:none;
		border-radius:0;
		border-radius: 2px 2px 0px 0px;
		box-shadow: 1px 1px 1px 1px $puu-tausta - 80;
	}

	.teksti-kontti {
		padding:15px 15px 0 15px;
	}

	.teksti-sisalto {
		border-left:1px solid $main-color;
		border-right:1px solid $main-color;
		border-bottom:1px solid $main-color;
		background:white;
		box-shadow: 3px 3px 3px 3px $puu-tausta - 80;
		min-height:350px;

	}

	.paa-kontti {
		background-color:white;
	}

	.ensi-rivi {


color:$text-color;
}

.kansio-sisalto table td {
	padding: 2px 5px 2px 2px;
	//border-bottom: 1px solid white - 20;
	//color: $text-color;

	
}


.kansio-sisalto tr {
	width:100%;
}

	

.tiedosto-otsikko-td {
	height:auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:100%;
	img {
		height:100%;
		width:auto;
		padding-top:3px;
		padding-right:5px;
	}


	

}


.kansio-puu-paa-linkit {
	border-top:1px solid white - 5;
	padding-bottom:5px;

	img {
		
		height:20px;
		width:auto;
		float:left;
	
	}
}

 .index-kontti {
display:block;
float:left;
background-color:$puu-tausta + 210;
min-height:97%;
width:100%;

 .kolumni-4-tablet {
 	float:left;
 	width:100%;
	img {
		border:1px solid $main-color; 
		float:left;
		width:150px;
		height:auto;
		
	}
 }


}

.index-tiedot {
	padding:5px;
	float:left;
	ul {
		list-style-type: none;
	}
}


.kansio-puu-merkki-main {
	@extend .kansio-puu-merkki;
	width: 100%;
	height:auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



code {
    background-color: #F9F9F9;
    color: black;
    line-height: 1.1em;
    padding:0 5px 0 5px;

}

pre {
	@extend code;
	max-width:99%;
	
}

.alikansio-puu-linkki {
	display:none;
	width:100%;
	height:auto;
}

.ylikansio {
	width:100%;
}


.jakaja {
	height:1px;
	width:80%;
	background-color:$raja-vari;
	border-radius:65px 65px 65px 65px;
	margin: 5px 0 5px 5%;
}

