  <div class="kansio-puu-paa-linkit">

  	<a  href="{{ site.baseurl }}/index.html"> <li><div class="kansio-puu-merkki-main home"> 
  		<img src="{{ site.baseurl }}/assets/img/user13.svg" />
  		{{ site.data.owner.name }}</div></li></a>

  	<a  href="https://github.com/{{ site.data.owner.name }}{{ site.baseurl }}/tree/gh-pages/_posts" target="_blank"> <li><div class="kansio-puu-merkki-main"> 
  		<img src="{{ site.baseurl }}/assets/img/pencil41.svg" />
  		Post Management</div></li></a>

  	<a  href="{{ site.baseurl }}/favourites.html"> <li><div class="kansio-puu-merkki-main"> 
	<img  src="{{ site.baseurl }}/assets/img/fav.svg" />
  		Favourites</div></li></a>
  	
  	<a  href="{{ site.baseurl }}/about.html"> <li><div class="kansio-puu-merkki-main"> 
	<img src="{{ site.baseurl }}/assets/img/question30.svg" />
  		About</div></li></a>

  </div>
