@charset "UTF-8";
@import url(Lindeman.css);
@import url(normalize.css);
@import url(ruutu.css);
@import url(tyyli.css);
/*  cool blue: */
/* almost andoird: */
/* lime */
/* line 22, ../sass/style.scss */
header {
  color: rgba(100, 100, 100, 0.9);
  border-bottom: 1px solid #373737;
  /*
  		background: -webkit-linear-gradient($puu-tausta,$puu-tausta - 30); 
  		background: -o-linear-gradient($puu-tausta,$puu-tausta  - 30); 
  		background: -moz-linear-gradient($puu-tausta,$puu-tausta - 30); 
  		background: linear-gradient($puu-tausta,$puu-tausta - 90); 
  		*/
}

/* line 34, ../sass/style.scss */
a {
  color: rgba(100, 100, 100, 0.9);
}

/* line 42, ../sass/style.scss */
.kansio-puu {
  width: 100%;
  margin: 0 auto;
}
/* line 45, ../sass/style.scss */
.kansio-puu ul {
  list-style-type: none;
}
/* line 48, ../sass/style.scss */
.kansio-puu a {
  color: rgba(100, 100, 100, 0.9);
}
/* line 51, ../sass/style.scss */
.kansio-puu li {
  margin-top: 2px;
}

/* line 58, ../sass/style.scss */
.kansio-otsikko {
  border-bottom: 1px solid #9b9b9b;
  min-height: 25px;
  padding-left: 3px;
  color: rgba(100, 100, 100, 0.9);
  display: none;
}

/* line 67, ../sass/style.scss */
.kansio-puu-ylimerkki {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 74, ../sass/style.scss */
.kansio-puu-ylimerkki img {
  margin-top: 3px;
  padding-right: 5px;
  height: 100%;
  width: auto;
}

/*
.kansio-puu-ylimerkki:before {
	content:"\203A";
	padding-right:3px;
	color:$main-color;
	cursor:pointer;
}
*/
/* line 101, ../sass/style.scss */
.kansio-puu-alimerkki {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
/* line 110, ../sass/style.scss */
.kansio-puu-alimerkki img {
  margin-top: 3px;
  padding-right: 5px;
  vertical-align: top;
  height: 100%;
  width: auto;
}

/* line 119, ../sass/style.scss */
.kansio-puu-alimerkki:before {
  content: none;
}

/* line 123, ../sass/style.scss */
.kansio-sisalto {
  padding-left: 3px;
  min-height: 100%;
  background-color: white;
}
/* line 128, ../sass/style.scss */
.kansio-sisalto ul {
  list-style-type: none;
  padding: 15px 5px 5px 5px;
}

/* line 137, ../sass/style.scss */
.kansio-sisalto-merkki:before {
  padding-right: 3px;
  color: rgba(100, 100, 100, 0.2);
  cursor: pointer;
}

/* line 145, ../sass/style.scss */
.kansio-kontti {
  display: none;
}

/* line 152, ../sass/style.scss */
.aktiivinen, .kansio-puu-ylimerkki:hover, .kansio-puu-merkki:hover, .kansio-puu-merkki-main:hover {
  background-color: rgba(51, 181, 229, 0.8);
  color: white;
}

/* line 160, ../sass/style.scss */
html {
  height: 100%;
}

/* line 164, ../sass/style.scss */
body {
  font-family: 'Open Sans', 'sans-serif';
  height: 100%;
  color: rgba(100, 100, 100, 0.9);
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 174, ../sass/style.scss */
::selection {
  background: rgba(100, 100, 100, 0.2);
  /* Safari */
  color: rgba(100, 100, 100, 0.9);
}

/* line 180, ../sass/style.scss */
::-moz-selection {
  background: rgba(100, 100, 100, 0.2);
  /* Firefox */
  color: rgba(100, 100, 100, 0.9);
}

/* line 189, ../sass/style.scss */
.kolumni-2-tablet {
  padding: 0 0 0 3px;
}

/* line 195, ../sass/style.scss */
.kolumni-10-tablet {
  padding: 0;
  height: 100%;
  border-left: 1px solid #f0f0f0;
  margin: 0 auto;
}

/* line 205, ../sass/style.scss */
.polku-rivi, .teksti-otsikko {
  font-size: 105%;
  width: 100%;
  height: 25px;
  border-top: 1px solid #f0f0f0;
  color: rgba(100, 100, 100, 0.9);
  padding-left: 5px;
  margin-bottom: 10px;
}

/* line 222, ../sass/style.scss */
.polku-kategoria {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  color: rgba(100, 100, 100, 0.9);
}

/* line 229, ../sass/style.scss */
.polku-kategoria:after {
  content: "/";
  color: rgba(100, 100, 100, 0.2);
}

/* line 237, ../sass/style.scss */
.polku-alikategoria {
  float: left;
  padding-right: 5px;
}

/* line 241, ../sass/style.scss */
.polku-alikategoria:after {
  content: "/";
  color: rgba(100, 100, 100, 0.2);
  padding-left: 5px;
}

/* line 250, ../sass/style.scss */
.polku-osa, .polku-tiedosto-nimi {
  float: left;
  color: rgba(100, 100, 100, 0.9);
}

/* line 255, ../sass/style.scss */
.polku-osa:after, .polku-tiedosto-nimi:after {
  content: "/";
  color: rgba(100, 100, 100, 0.2);
  padding: 0 5px 0 5px;
}

/* line 266, ../sass/style.scss */
.polku-tiedosto-nimi:after {
  content: "";
}

/* line 271, ../sass/style.scss */
.alikansio-kategoria, .alikansio-otsikko {
  display: none;
}

/* line 279, ../sass/style.scss */
.teksti-otsikko {
  color: rgba(255, 255, 255, 0.2);
  border-bottom: none;
  border-radius: 0;
  border-radius: 2px 2px 0px 0px;
  box-shadow: 1px 1px 1px 1px #afafaf;
}

/* line 290, ../sass/style.scss */
.teksti-kontti {
  padding: 15px 15px 0 15px;
}

/* line 294, ../sass/style.scss */
.teksti-sisalto {
  border-left: 1px solid rgba(100, 100, 100, 0.2);
  border-right: 1px solid rgba(100, 100, 100, 0.2);
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  background: white;
  box-shadow: 3px 3px 3px 3px #afafaf;
  min-height: 350px;
}

/* line 304, ../sass/style.scss */
.paa-kontti {
  background-color: white;
}

/* line 308, ../sass/style.scss */
.ensi-rivi {
  color: rgba(100, 100, 100, 0.9);
}

/* line 314, ../sass/style.scss */
.kansio-sisalto table td {
  padding: 2px 5px 2px 2px;
}

/* line 323, ../sass/style.scss */
.kansio-sisalto tr {
  width: 100%;
}

/* line 329, ../sass/style.scss */
.tiedosto-otsikko-td {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
/* line 335, ../sass/style.scss */
.tiedosto-otsikko-td img {
  height: 100%;
  width: auto;
  padding-top: 3px;
  padding-right: 5px;
}

/* line 348, ../sass/style.scss */
.kansio-puu-paa-linkit {
  border-top: 1px solid #fafafa;
  padding-bottom: 5px;
}
/* line 352, ../sass/style.scss */
.kansio-puu-paa-linkit img {
  height: 20px;
  width: auto;
  float: left;
}

/* line 361, ../sass/style.scss */
.index-kontti {
  display: block;
  float: left;
  background-color: white;
  min-height: 97%;
  width: 100%;
}
/* line 368, ../sass/style.scss */
.index-kontti .kolumni-4-tablet {
  float: left;
  width: 100%;
}
/* line 371, ../sass/style.scss */
.index-kontti .kolumni-4-tablet img {
  border: 1px solid rgba(100, 100, 100, 0.2);
  float: left;
  width: 150px;
  height: auto;
}

/* line 383, ../sass/style.scss */
.index-tiedot {
  padding: 5px;
  float: left;
}
/* line 386, ../sass/style.scss */
.index-tiedot ul {
  list-style-type: none;
}

/* line 392, ../sass/style.scss */
.kansio-puu-merkki-main {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 403, ../sass/style.scss */
code, pre {
  background-color: #F9F9F9;
  color: black;
  line-height: 1.1em;
  padding: 0 5px 0 5px;
}

/* line 411, ../sass/style.scss */
pre {
  max-width: 99%;
}

/* line 417, ../sass/style.scss */
.alikansio-puu-linkki {
  display: none;
  width: 100%;
  height: auto;
}

/* line 423, ../sass/style.scss */
.ylikansio {
  width: 100%;
}

/* line 428, ../sass/style.scss */
.jakaja {
  height: 1px;
  width: 80%;
  background-color: #f0f0f0;
  border-radius: 65px 65px 65px 65px;
  margin: 5px 0 5px 5%;
}

/* line 436, ../sass/style.scss */
section {
  border-bottom: none;
}

/* line 443, ../sass/style.scss */
.viimeisimmat h6 {
  font-size: 90%;
}
/* line 448, ../sass/style.scss */
.viimeisimmat p {
  font-size: 90%;
}

/* line 453, ../sass/style.scss */
.viimeisimmat-kontti {
  float: left;
  padding: 5px;
}
/* line 457, ../sass/style.scss */
.viimeisimmat-kontti h6 {
  border-bottom: 1px solid #f0f0f0;
}
